services:
  mail_smtp:
    build: postfix
    container_name: lucos_mail_smtp
    ports:
      - "25:25"
    image: lucas42/lucos_mail_smtp
    volumes:
      - "letsencrypt:/etc/letsencrypt"
    restart: always
  mail_docs:
    build: docs
    container_name: lucos_mail_docs
    ports:
      - $PORT:80
    image: lucas42/lucos_mail_docs
    restart: always

volumes:
  letsencrypt:
    external: true
    name: lucos_router_letsencrypt